*.DS_Store
*.obj
*.pdb
*.suo
*.user
*.cache
*.orig
*.iws
*.log
*.pyc
*.py~
*.map
*.pid
*.resharper
*.csproj.ReSharper
*.map
_ReSharper.*
.git
.hgignore
.hgrc
*.full.nuspec
pwc.zip

build-output
build-ouput
buildOutput
tmp
perflog

Debug/*
testResult/*
testResults/*
ErrorLogs/
bin/
obj/
.idea/
App_Data/*
src/*/error*xml
src/*/Logs/error*xml
src/GlobalAssemblyInfo.cs
.vs/
Backup/
Backup[123456789]/
UpgradeLog.htm
UpgradeLog[123456789].htm


Tiger/Tiger-API/logs/archives/**
Tiger/Tiger-API/logs/*
Tiger/Tiger-UI/logs/*
Tiger/Tiger-Core/logs/*
Tiger-Data-Migration/**/Release/*
Tiger/**/Release/*

Test/**/Release/*
Test/Tiger-Powershell-Test/lib
jasmine-runner.htm

tools/Ruby187/lib/*
tools/APIList/**/Release/*
tools/TableStripper/**/Release/*
tools/PerformanceReportSummary/**/Release/*

Test/Tiger-Performance-Test/*
TigerIntegrationApiTest/Reports/*
screenshots/*
regression/**/*.html
regression/**/screenshots
regression/**/test-reports/*
regression/**/ready.html
regression/**/*report*.html
regression/**/reports
regression/integration/impl/lib

BrowserMob/scripts/*.txt
payload/*
build/schema/version.txt

build/build-tools/Fortify/report

Test-Reports/**
Test-Reports
applied-app-configs
deployment-history
tools/NScaffold*

build/tools/ps-gets
commit-version.txt

packages

node_modules

#unit test
test-results.xml
coverage

.sonar
*/*/.sonar
opencover-report/
#NHibernate profiler
NHProfOutput.xml
NPlusOne.count

/dependencies

.Identifier
*~

EntityFramework.6.0.0/
System.Data.SQLite.1.0.98.1/
System.Data.SQLite.Core.1.0.98.1/
System.Data.SQLite.EF6.1.0.99.0/
System.Data.SQLite.Linq.1.0.99.0/

.byebug_history
Test/Tiger-MyMobility.CT.Consumer/pacts
tiger-mymobility.json


#report
dotCover.html
dotCover